:root {
	--gray-100: #dadce0;
	--gray-400: #999;
	--gray-700: #333;
	--color-secondary: #14bdac;
	--board-border-color: #0da192;
	--board-border: 4px solid var(--board-border-color);
}

.page {
	height: 100%;
	margin: 0 auto;
	max-width: 65rem;
	width: 100%;
	text-align: center;
	color: var(--gray-700);
	padding: 2rem;
}

.game {
}

.board {
	height: 30rem;
	background-color: var(--color-secondary);
	width: 100%;
	border-collapse: collapse;
}

.board .board__row:not(:last-child) {
	border-bottom: var(--board-border);
}

.board .board__row .board__cell {
	cursor: pointer;
}

.board .board__row .board__cell:not(:last-child) {
	border-right: var(--board-border);
}

.reset-button {
	width: 100%;
	padding: 1rem 2rem;
	color: var(--color-secondary);
	font-weight: 700;
	border: 1px solid var(--gray-100);
	background-color: unset;
	cursor: pointer;
	font-size: 1.4rem;
}
